:host {
  display: block;
}

.card {
  height: 200px;
  width: 150px;
  border-radius: 10px;
  border: 1px solid;
}

.deeppink {
  color: deeppink;
  border-color: deeppink;
}

.orange {
  color: orange;
  border-color: orange;
}

.green {
  color: green;
  border-color: green;
}
