:host {
  display: inline-block;
  width: 100%;
}

.card-container {
  width: 80%;
  max-width: 690px;
  min-width: 520px;
  margin: 0 auto;
}

.card {
  height: 200px;
  width: 150px;
  border-radius: 10px;
  border: 3px solid;
  position: relative;
}

.purple {
  color: #723D46;
  border-color: #723D46;
}

.orange {
  color: #F0945D;
  border-color: #F0945D;
}

.green {
  color: #00A28C;
  border-color: #00A28C;
}

.pip {
  height: 50px;
  width: 100px;
  border-width: 1px;
}

.solid.purple {
  background-color: #723D46;
}

.solid.orange {
  background-color: #F0945D;
}

.solid.green {
  border: 1px solid #00A28C;
  background-color: #00A28C;
}

.dashed.purple {
  border: 1px solid #723D46;
  background: repeating-linear-gradient(
    -45deg,
    #723D46,
    #723D46 3px,
    #fff 3px,
    #fff 10px
  );
}

.dashed.orange {
  border: 1px solid #F0945D;
  background: repeating-linear-gradient(
    -45deg,
    #F0945D,
    #F0945D 3px,
    #fff 3px,
    #fff 10px
  );
}

.dashed.green {
  border: 1px solid #00A28C;
  background: repeating-linear-gradient(
    -45deg,
    #00A28C,
    #00A28C 3px,
    #fff 3px,
    #fff 10px
  );
}

.dots.purple {
  border: 1px solid #723D46;
  background-color:#fff;
  background-image: radial-gradient(#723D46 15%, transparent 16%),
  radial-gradient(#723D46 15%, transparent 16%);
  background-size: 8px 8px;
  background-position: 0 0, 4px 4px;
}

.dots.orange {
  border: 1px solid #F0945D;
  background-color:#fff;
  background-image: radial-gradient(#F0945D 15%, transparent 16%),
  radial-gradient(#F0945D 15%, transparent 16%);
  background-size: 8px 8px;
  background-position: 0 0, 4px 4px;
}

.dots.green {
  border: 1px solid #00A28C;
  background-color:#fff;
  background-image: radial-gradient(#00A28C 15%, transparent 16%),
  radial-gradient(#00A28C 15%, transparent 16%);
  background-size: 8px 8px;
  background-position: 0 0, 4px 4px;
}

.pill {
  border-radius: 40px;
}

.chevron {
  -webkit-clip-path: polygon(50% 50%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 50%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.diamond {
  -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}
