@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display|Text+Me+One|Work+Sans');

.sans {
  font-family: 'Open Sans Condensed';
}

.playfair {
  font-family: 'Playfair Display';
}

.textmeone {
  font-family: 'Text Me One';
}

.workssans {
  font-family: 'Work Sans';
}